body, html, footer {
	background-color: #ebedef;
	color: #242424;
	font-family: "Gill Sans", sans-serif;
	overflow-x: hidden;
}

.wrapper {
	display: block;
	margin-right: auto;
	margin-left:  auto;
	max-width: 1300px;
	padding-right: 30px;
	padding-left:  10px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.header {
	color: #00a494;
	font-size: 3em;
	line-height: 1;
	font-weight: normal;
}

.paragraph {
	font-size: 2em;
	font-weight: lighter;
}

a:link {
 	color: #00a494;
}
a:visited {
 	color: #00a494;
}
a:hover {
 	color: #242424;
}
a:active {
 	color: #242424;
}

.footer {
	position: fixed;
	width: 100%;
	background: #242424;
	color: white;
	text-align: center;
	font-size: 1.3em;
	bottom: 0;
	left: 0;
}

.footer_img {
	height: 20px;
	width: auto;
}
