body, html {
	background-color: #242424;
	color: white;
	font-family: "Gill Sans", sans-serif;
	padding: 0;
}

.content {
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 5px;
}

.alt {
	padding-left: 20px;
	padding-bottom: 0;
	padding-top: 5px;
}

.alt2 {
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
}

.header_font {
	font-size: 3em;
	line-height: 1;
}

.h2_font {
	font-size: 2em;
	line-height: 1;
}

.medium_font {
	font-size: 1.3em;
	line-height: 1;
}

.side_box {
	width: 65%;
	box-sizing: border-box;
	background-color: #77e1d7;
	color: black;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #232621;
	position: relative;
	top: calc(50% - 41vmin);
	left: 15%;
	margin: 0 0 40 0;
}

.wrapper {
	display: flex;
	padding: 0 20 0 20;
}

.player_box {
	width: 45%;
	background-color: #242424;
	padding: 0 15px 10px;
	border-top-right-radius: 3px;
	color: white;
	text-align: center;
}

.alt_color {
	background-color: #deeaee;
	color: black;
}

.table {
	position: absolute;
	top: calc(50% - 41vmin);
	left: calc(50% - 45vmin);
	width: 80vmin;
	height: 80vmin;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right_screen {
	position: relative;
	display: inline-block;
  	height: 100%;
  	width: 50%;
}

.left_screen {
	position: relative;
	float: left;
  	height: 100%;
  	width: 50%;
	overflow: auto;
}

.piece {
	height: 7vmin;
	width: 7vmin;
}

.square {
	border: none;
	border-width: 0px;
	float: left;
	font-size: 80px;
	height: 10vmin;
	width: 10vmin;
	transition: background-color 0.7s;
	-webkit-transition: background-color 0.7s;
	cursor: pointer;
}

.white_square {
	background-color:#deeaee;
}
.black_square {
	background-color:#034f84;
}

.top_left_square {
	border-radius: 8px 0px 0px 0px;
}

.top_right_square {
	border-radius: 0px 8px 0px 0px;
}

.bottom_left_square {
	border-radius: 0px 0px 0px 8px;
}

.bottom_right_square {
	border-radius: 0px 0px 8px 0px;
}

.selected_white_square {
	background-color:#00e686;
}

.selected_black_square {
	background-color:#00c070;
}

.highlighted_white_square {
	background-color:#94fffe;
}

.highlighted_black_square {
	background-color:#77e1d7;
}

.checked_square {
	background-color:#ff4233;
}

.stale_square {
	background-color:#ffac2c;
}

@media screen and (max-width: 1000px) {
	.right_screen {
	  	width: 100%;
		height: 100vmin;
	}

	.left_screen {
	  	width: 100% !important;
		height: auto;
	}

	.side_box {
		top: calc(50% - 41vmin);
		left: 16%;
		margin: 40 0 20 0;
	}

	.table {
		top: calc(50% - 41vmin);
		left: calc(50% - 42vmin);
	}
}
