body, html {
	background-color: #242424;
}

.square {
	float: left;
	width: 80px;
	height: 80px;
}

.white_square {
	background-color:#deeaee;
}
.black_square {
	background-color:#034f84;
}

.top_left_square {
	border-radius: 8px 0px 0px 0px;
}

.top_right_square {
	border-radius: 0px 8px 0px 0px;
}

.bottom_left_square {
	border-radius: 0px 0px 0px 8px;
}

.bottom_right_square {
	border-radius: 0px 0px 8px 0px;
}

.table {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 640px;
	height: 640px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width : 640px) {
	.table {
		width: 400px;
		height: 400px;
	}

	.square {
		width: 50px;
		height: 50px;
	}

	.checker {
		width: 32px;
		height: 32px;
	}
}
