body,
html {
  background-color: #242424;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  overflow-x: hidden;
}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation: bounceInDown 1.3s;
  animation: bounceInDown 1.3s;
}

/* unvisited link */
a:link {
  color: #242424;
}

/* visited link */
a:visited {
  color: #242424;
}

/* mouse over link */
a:hover {
  color: #00a25f;
}

/* selected link */
a:active {
  color: #00a25f;
}

.right_screen {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 50%;
}

.left_screen {
  position: relative;
  float: left;
  height: 100%;
  width: 50%;
  overflow: auto;
}

.header_font {
  font-size: 2.5em;
  line-height: 1;
}

.header_2_font {
  font-size: 2em;
  line-height: 1;
}

.medium_font {
  font-size: 1.2em;
  line-height: 1;
}

.small_font {
  font-size: 1.2em;
  line-height: 1;
}

.wrapper {
  margin-left: 5%;
  width: 90%;
  height: auto;
  display: flex;
  padding-bottom: 0px;
  padding-top: 0px;
}

.player_box {
  display: inline-block;
  outline: none !important;
  width: 45%;
  background-color: #deeaee;
  padding: 0 15px 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 3px;
  color: #242424;
  text-align: center;
}

.black_player_color {
  background-color: #242424;
  color: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 0px;
}

.highlight_box {
  width: 45%;
  background-color: #00ba6d;
  padding: 0 20px 5px;
  padding-right: 50px;
  padding-bottom: 8px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.side_box {
  width: 65%;
  box-sizing: border-box;
  background-color: #77e1d7;
  color: #242424;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #232621;
  position: relative;
  top: calc(50% - 41vmin);
  left: 13%;
  margin: 0 0 30 0;
  padding-bottom: 1px;
}

.transparent {
  background-color: transparent;
}

.content {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-right: 10px;
}

.title {
  padding-bottom: 0px;
}

.collected {
  outline: none !important;
  border: none;
  border-width: 0px;
  background-color: transparent;
  height: 22px;
  width: 22px;
  background-position: center;

  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.mate_wrapper {
  text-align: center;
}

.button_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  padding-top: 0px;
}

.reset_button {
  position: relative;
  text-align: center;
  width: 35%;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #00ba6d;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  transition: background-color 0.5s;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.button_font {
  font-size: 1.2em;
  line-height: 1;
}

.history {
  width: 10%;
  margin-right: 10px;
}

.reset_button:hover {
  background-color: #00a25f;
}

.reset_button:active {
  transform: translateY(1px);
}

.table {
  position: absolute;
  top: calc(50% - 42vmin);
  left: calc(50% - 46vmin);
  width: 80vmin;
  height: 80vmin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 15px 0 rgba(0, 0, 0, 0.19);
}

.square {
  outline: none !important;
  border: none;
  border-width: 0px;
  float: left;
  height: 10vmin;
  width: 10vmin;
  transition: background-color 0.7s;
  -webkit-transition: background-color 0.7s;
}

.pointer {
  cursor: pointer;
}

.not_allowed {
  cursor: not-allowed;
}

.default {
  cursor: default;
}

.bot_running {
  cursor: progress;
}

.label {
  outline: none !important;
  background-color: transparent;
  color: #deeaee;
  border: none;
  font-size: 120%;
  height: 10vmin;
  width: 10vmin;
}

.row_label {
  outline: none !important;
  position: relative;
  top: calc(50% - 42vmin);
  left: calc(50% - 55vmin);
  width: 10vmin;
  height: 80vmin;
}

.col_label {
  outline: none !important;
  position: relative;
  top: calc(50% - 43vmin);
  left: calc(50% - 46vmin);
  width: 80vmin;
  height: 10vmin;
}

.piece {
  height: 60%;
  width: auto;
}

.white_square {
  background-color: #deeaee;
}
.black_square {
  background-color: #034f84;
}

.top_left_square {
  border-radius: 8px 0px 0px 0px;
}

.top_right_square {
  border-radius: 0px 8px 0px 0px;
}

.bottom_left_square {
  border-radius: 0px 0px 0px 8px;
}

.bottom_right_square {
  border-radius: 0px 0px 8px 0px;
}

.selected_white_square {
  background-color: #00e686;
}

.selected_black_square {
  background-color: #00c070;
}

.highlighted_white_square {
  background-color: #94fffe;
}

.highlighted_black_square {
  background-color: #77e1d7;
}

.in_check_square_white {
  animation: flash-white 0.5s;
  background-color: #deeaee;
}

.in_check_square_black {
  animation: flash-black 0.5s;
  background-color: #034f84;
}

.checked_square {
  background-color: #ff4233;
}

@-webkit-keyframes flash-white {
  from,
  50%,
  to {
    background-color: #ff4233;
  }

  25%,
  75% {
    background-color: #deeaee;
  }
}

@-webkit-keyframes flash-black {
  from,
  50%,
  to {
    background-color: #ff4233;
  }

  25%,
  75% {
    background-color: #034f84;
  }
}

.stale_square {
  background-color: #ffac2c;
}

@media screen and (max-width: 1100px) {
  .right_screen {
    width: 100%;
    height: 100vmin;
    margin-left: 5px;
  }

  .left_screen {
    width: 100% !important;
    height: auto;
  }

  .row_label {
    top: calc(50% - 42vmin);
    left: calc(50% - 52vmin);
  }

  .col_label {
    top: calc(50% - 42vmin);
    left: calc(50% - 42vmin);
  }

  .table {
    top: calc(50% - 42vmin);
    left: calc(50% - 42vmin);
  }

  .side_box {
    width: 60%;
    top: calc(50% - 41vmin);
    left: 17%;
    margin: 40 0 20 0;
  }
}
